<div class="container pt-3">
  <div class="d-flex justify-content-between py-2">
    <p class="lead mb-0"><strong>Email:</strong> {{ email }}</p>
    <a (click)="logout()" type="button" class="btn btn-outline-dark">Logout</a>
  </div>

  <form #form="ngForm" *ngIf="questionsList.length > 0">
    <div class="row">
      <div class="col-md-2 order-md-2 text-md-end">
        <p class="lead">
          {{ counter }} <i class="fa fa-hourglass-start" aria-hidden="true"></i>
        </p>
        <p class="lead">
          {{ points }} <i class="fa fa-star" aria-hidden="true"></i>
        </p>
      </div>
      <div class="col-md-10 order-md-1">
        <h3>
          Question {{ currentQuestionIndex + 1 }} of
          {{ questionsList.length }}
        </h3>
        <p class="lead">
          {{ questionsList[currentQuestionIndex].questionText }}
        </p>
      </div>
    </div>

    <div *ngIf="isAnswerSubmitted">
      <div *ngIf="isCorrectAnswer" class="alert alert-success" role="alert">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Good Job!
      </div>
      <div *ngIf="!isCorrectAnswer" class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Incorrect
        answer.
      </div>
    </div>

    <ol class="answers-list">
      <li
        *ngFor="
          let answerItem of questionsList[currentQuestionIndex].answerChoices
        "
        class="answer-item mb-3"
      >
        <div
          class="card p-2"
          [ngClass]="{
            'bg-success bg-opacity-25': isAnswerSubmitted && answerItem.correct
          }"
        >
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="answerInput"
              [id]="answerItem.id"
              [value]="answerItem.answerText"
              [disabled]="isAnswerSubmitted"
              ngModel
              #answer="ngModel"
              required
            />
            <label class="form-check-label" [for]="answerItem.id">
              {{ answerItem.answerText }}
            </label>
          </div>
        </div>
      </li>
    </ol>

    <div class="d-flex justify-content-end pb-3">
      <button
        *ngIf="!isAnswerSubmitted"
        (click)="checkAnswer()"
        [disabled]="!form.valid"
        class="btn btn-primary"
      >
        Check Answer
      </button>
      <button
        *ngIf="!isQuizComplete && isAnswerSubmitted"
        (click)="nextQuestion()"
        class="btn btn-primary"
      >
        Next
      </button>

      <div *ngIf="isQuizComplete" class="d-flex gap-2">
        <button (click)="reset()" class="btn btn-primary">Retry Quiz</button>
        <button (click)="seeResults()" class="btn btn-primary">
          See Results
        </button>
      </div>
    </div>
  </form>
</div>
